---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>PVTCH: Simple Streamer Tools</title>
  </head>
  <body>
    <h1>PVTCH: Simple Streamer Tools</h1>
    <p>
      A collection of tools for streamers, built to be (mostly) indestructible
      and cost the PVTCH team very little to host so it can stay up forever.
    </p>
    <p>
      We're cooking, just check the github:
      <a href="https://github.com/thecodedrift/pvtch"
        >https://github.com/thecodedrift/pvtch</a
      >
    </p>
  </body>
</html>
