---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title="PVTCH: Simple Streamer Tools">
  <p>
    A collection of tools for streamers, built to be (mostly) indestructible and
    cost the PVTCH team very little to host so it can stay up forever.
  </p>
  <p>
    We're cooking, just check the github:
    <a href="https://github.com/thecodedrift/pvtch"
      >https://github.com/thecodedrift/pvtch</a
    >
  </p>
</DefaultLayout>
