---
import DefaultLayout from "../../layouts/default.astro";
import { Configure } from "./configure";
---

<DefaultLayout title="Progress Bar">
  <p>A simple and clean progress bar</p>
  <h2>How it Works</h2>
  <p>
    Progress bars are just boxes that fill up. But making one that works with
    your streaming software? Now that's a party trickl! To update the progress
    bar, you change the <code>progress=</code> value in the URL. We'll take care
    of the math.
  </p>
  <h2>Where do I store progress?</h2>
  <p>
    One of the easiest ways is a <code>currency</code> that is attached to only your
    account. Most streamer bots (MixItUp, Firebot, Streamer.bot, etc) support currency,
    and it'll even persist between streams.
  </p>
  <Configure client:only />
</DefaultLayout>
