---
import "../styles/globals.css";
import Logo from "../../public/pvtch.svg";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} : PVTCH</title>
  </head>
  <body>
    <nav class="mx-auto my-4 flex max-w-3xl flex-row items-center gap-2">
      <a href="/" class="flex items-center gap-2 text-xl font-bold">
        <Logo
          class="inline h-10 w-10 text-[#37c6f4] *:[stroke-width:20]! *:[stroke-miterlimit:20]!"
        />
        <span>PVTCH</span></a
      >
    </nav>
    <section class="prose mx-auto my-8 max-w-3xl">
      <h1>{title}</h1>
      <article>
        <slot />
      </article>
    </section>
  </body>
</html>
