---
import { Toaster } from "@/components/ui/sonner";
import { ModeToggle } from "@/components/mode-toggle";
import "../styles/globals.css";
import Logo from "../../public/pvtch.svg";

const { title } = Astro.props;
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} : PVTCH</title>
  </head>
  <body>
    <nav class="mx-auto my-4 flex max-w-3xl flex-row items-center gap-2">
      <a href="/" class="flex items-center gap-2 text-xl font-bold">
        <Logo
          class="inline h-10 w-10 text-[#37c6f4] *:[stroke-width:20]! *:[stroke-miterlimit:20]!"
        />
        <span>PVTCH</span></a
      >
      <div class="flex flex-1 items-center justify-end">
        <ModeToggle client:load />
      </div>
    </nav>
    <section class="prose dark:prose-invert mx-auto my-8 max-w-3xl">
      <h1>{title}</h1>
      <article>
        <slot />
      </article>
    </section>
    <Toaster client:only />
  </body>
</html>
